@model IEnumerable<SecuringApplicationsAssignment.Application.ViewModels.AssignmentViewmodel> 
@{
    ViewData["Title"] = "Index";
}

<h1>Assignments Catalogue</h1>

<div class="container">
    <div class="row">
        @foreach (var p in Model)
        {
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@p.Name</h5>
                        <p class="card-text">@p.Description.</p>
                        <p class="card-text">@p.Deadline.</p>
                    </div>
                </div>
            </div>
       }

    </div>
</div>
