@model IEnumerable<SecuringApplicationsAssignment.Application.ViewModels.AssignmentViewmodel> 
@using PresentationAssignmentApp.Helpers
@using System.Web 
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron jumbotron-fluid text-Center">
    <div class="container">
        <h1 class="display-4">Assignments Catalogue</h1>
    </div>
</div>

<div class="container">
    @if (User.IsInRole("Teacher"))
    {
        <a href="/Assignments/Create" class="btn btn-warning">Add assignment</a>
    }

    <div class="row mt-5">
        @foreach (var p in Model)
        {
            <div class="col-3 m-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@p.Name</h5>
                        <p class="card-text">@p.Description.</p>
                        <p class="card-text">@p.Deadline.</p>
                        @if (User.IsInRole("Teacher"))
                        {
                            <a href="/Assignments/Delete?id=@HttpUtility.UrlEncode(CryptographicHelper.SymmetricEncrypt(p.Id.ToString()))" class="btn btn-danger">Delete</a>
                            <a href="/Assignments/ViewSubmissions?assigmmentId=@HttpUtility.UrlEncode(CryptographicHelper.SymmetricEncrypt(p.Id.ToString()))" class="btn btn-success">View Submissions</a>
                        }
                        @if (User.IsInRole("Student"))
                        {

                            var wasSubmitted = false;
                            var submissionId = new Guid();

                            foreach (var s in ViewBag.Submissions)
                            {
                                @if (p.Id == s.Assignment.Id)
                                {
                                    wasSubmitted = true;
                                    submissionId = s.Id;
                                }
                            }

                            @if (!wasSubmitted && p.Deadline > DateTime.Now)
                            {
                                <a href="/Assignments/SubmitAssignment?id=@HttpUtility.UrlEncode(CryptographicHelper.SymmetricEncrypt(p.Id.ToString()))" class="btn btn-info">Submit</a>
                            }
                            else
                            {
                                <!-- If assignment has been submitted, view Submission-->
                                if (wasSubmitted)
                                {
                                    <a href="/Assignments/ViewSubmission?id=@HttpUtility.UrlEncode(CryptographicHelper.SymmetricEncrypt(submissionId.ToString()))" class="btn btn-info">View Submission</a>
                                }
                                else
                                {
                                    <h4>Deadline has passed, you cannot submit</h4>
                                }

                            }
                        }



                    </div>
                </div>
            </div>
       }

    </div>
</div>
