@using SecuringApplicationsAssignment.Application.ViewModels
@model SecuringApplicationsAssignment.Application.ViewModels.SubmissionViewModel

@{
    ViewData["Title"] = "SubmitAssignment";
}

<div class="jumbotron jumbotron-fluid text-Center">
    <div class="container">
        <h1 class="display-4">Submit your assignment</h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 border border-dark">
        @{ var assignment = ViewBag.Assignment; }
        <div>
            <h3 class="p-1 text-capitalize">@assignment.Name</h3>
            <h2 class="p-1">@assignment.Description</h2>
            <h2 class="p-1">@assignment.Deadline</h2>
        </div>
        <form asp-action="SubmitAssignment" enctype="multipart/form-data">
            @Html.AntiForgeryToken();
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="fileInput" class="control-label">Upload pdf</label>
                <input id="fileInput" name="file" class="form-control-file" type="file"/>
                <span name="file" class="text-danger"></span>
                <!-- Asp for file-->
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



