@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-2">Welcome</h1>
    <h3 class="display-4">Please login to access the website and it's features.</h3>
</div>
